<html>
<head>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="todo.css">
    <script src="packages/browser/dart.js"></script>
    <script src="packages/browser/interop.js"></script>
    <script src="main.dart" type="application/dart"></script>
</head>
<body ng-app>
<div ng-controller="Todo" class="border well">
    <h2>Things To Do ;-)</h2>

    <div class="right">
        <button ng-click="markAllDone()" class="btn btn-small">mark all done</button>
        <button ng-click="archiveDone()" class="btn btn-small">archive done</button>
    </div>


    <ul class="well unstyled">
        <li ng-repeat="item in items" ng-bind="item.text" ng-class="classFor(item)"></li>
    </ul>

    <form class="form-inline" onsubmit="return false;">
        <input type="text" ng-model="newItem.text">
        <button ng-click="add()" ng-disabled="newItem.text.isEmpty" class="btn btn-primary">add</button>
        <button ng-click="newItem.text = ''" class="btn">clear</button>
    </form>

<hr>
    <button ng-click="toggleFirstItem()">toggle first item</button>

    <input type="checkbox" ng-model="checked"/><span ng-bind="checked"></span>
</div>
</body>
</html>
